.image-gallery{
  margin: 10px 0 0 10px;
}
.allThumbnail {
  width: 100px;
  height: 100px;
  border: 2px solid #555;
  margin-bottom: 8px;
}
.magnifier-view{
 z-index:1;
 margin: auto;

}
.product-specification{
  font-family: 'Josefin Sans', sans-serif;
height: auto;
}
.mobile-view-mainImage{
  margin:auto;
}
.selectedThumbnail {
  width: 100px;
  height: 100px;
}

#thumb {
  width: 400px;
  height: 320px;
}
.thumbnail{
  width:100%;
  max-height:100px;
  margin: auto;
  overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;

}
.product-card{
  height:650px;
  min-width:460px;
}
#productdetails_actualprice {
 color:#4B4C4D;
 text-decoration: line-through;
 margin-right: 30px;
}
#productdetails_discount{
font-size: 18px;
color: brown;
}
.productdetails-pre{
  color:orange;
}
.productdetails_label{
  font-family:sans-serif;
  font-style: italic;
  font-size: 18px !important;
}
#productdetails_btn-submit{
width:200px;
font-size: 15px;
margin-right: 10px;
}
#snackbar {
  visibility: hidden;
     min-width: 250px;
     margin-left: -125px;
     background-color: #333;
     color: #fff;
     text-align: center;
     border-radius: 2px;
     padding: 16px;
     position: fixed;
     z-index: 1;
     left: 50%;
     top: 330px;
     font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 230px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 230px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 230px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 230px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
