.NewPasswordDescription{
    font-family: 'inherit';
}
.NewPasswordModal{
    font-family: 'inherit';
    max-width: 400px ;
      background: transparent;
      margin-left: -200px !important;
}
.NewPasswordView{
    font-family: 'inherit';
        margin-left: auto ;
        margin-right: auto ;
}
.pop-up{
    font-family: 'inherit';
}
#confirm_h4{
  font-family: 'inherit';
    font-size: 20px;
}
#Confirm_PasswordField{
    font-family: 'inherit';
  font-weight: bolder;
    font-size: 18px;
}
#btn-new-password{
    font-family: 'inherit';
}
.confirmpwd{
    margin-top: 20px;
}

.new-pass-btn {
  border-radius: 20px !important;
  background-color: #DB2828 !important;
}

.new-pass-btn-text {
  color: white;
}
