.ForgotpasswordDescription{
}
.ForgotpasswordModal{
    max-width: 600px ;
}
.ForgotpasswordView{
        margin-left: auto ;
        margin-right: auto ;
}
#forgot_h3{
  font-family: 'inherit';
  font-weight: bolder;
}
#forgot_label{
    font-family: 'inherit';
  font-weight: bolder;
  font-size: 120%;
}
#btn-forgot-password{
    font-family: 'inherit';
    font-size: 16px;
}
#forgot_error{
    color: #ff8080 ;
}

.forgot-pass-btn-container {
  text-align: center;
}

.forgot-pass-btn {
  border-radius: 20px !important;
  background-color: #DB2828 !important;
}

.forgot-pass-btn-text {
  color: white;
}
